/* .header-link { */
  /* background-color: #e7e7e7;
  border: 1px solid;
  border-radius: 3px;
  text-decoration: none;
  font: 700 14px Helvetica, Arial;
  text-align: center;
  margin-right: 20px;
  padding: 10px 15px;
  color: #666;
} */

.header-link:hover {
  color: #000;
  text-decoration: none;
  background-color: #dadada
}