body {
  background: url("./images/deliveryman.png") no-repeat 0% 20%;
}

/* Nav styles */
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(89, 88, 160);
  position: relative;
  z-index: 5;
}

.navbar .logo {
  display: flex;
  align-items: center;
  color: #fff;
}

.navbar .logo img {
  width: 60px;
  padding: 0.1rem;
}

.navbar-content {
  display: flex;
}

.navbar-content ul {
  display: flex;
  padding-left: 0;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  padding: 0 1.2rem;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}

/* Backgroung image */
/* .homepage::before {
  content: '';
  position: absolute;
  top: 0;
  background: rgba(0,0,0,.4);
  width: 100%;
  height: 100%;
} */

/* Homepage Styles */

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
}

.content {
  min-height: 100vh;
}

.homepage .content {
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 450px; */
}

/* Footer styles */

.footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  justify-content: center;
  height: 60px;
  background-color: rgb(89, 88, 160);
  align-items: center;
  z-index: 10;
  color: #fff;
}

/* signup form */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form label {
  display: block;
  padding: 2px;
}

.form-wrapper {
  margin: 30px auto;
  /* height: 510px; */
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
  width: 30%;
}

.form div {
  width: 100%;
  padding: 5px 0px;
}

input,
select {
  width: 100%;
  padding: 8px 20px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  font-family: sans-serif;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.login-link a {
  text-decoration: none;
  color: #4caf50;
}
